/* detail page */

html { height: 100%; }

body{
    background-color: white;
    height: 100%; margin: 0; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}


.name_ing2{
    padding-left: 47px;
    color: white;
    font-size: 40px;
    font-family: 'Koulen';
    margin: 0;
    padding-top: 28px;

}

body{
    background-color: white;
}

.picked_name{
    color: white;
    font-family: 'Koulen';
    font-size: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}


.container {
    display: flex;
    justify-content: center; /* 가로로 중앙 정렬 */
    align-items: center; /* 세로로 중앙 정렬 */
    
  }

.proscons{
    width: 800px;
    height: 420px;
    margin: 0;
    margin-inline: 40px;
    background-color: rgba(78, 117, 71, 0.8);
    float: left;
    border-radius: 50px;
}

.proscons ul {
    margin: 0;
}

.detailed, .adv {
    display: inline-block; 
  }

.detailed{
    width: 80px;
    height: 80px;
    margin: 0;
    margin-top: 5%;
    margin-left: 5%;
}

.adv{
    font-family: 'Koulen';
    font-size: 50px;
    color: white;
    margin: 0;
    align-items: center;
    margin-left: 30px;
}

.contents{
    font-family: 'Koulen';
    color: white;
    font-size: 30px;
    margin: 10px 30px;
}

@media only screen and (max-width: 1200px) {
    .detailed{
        width: 60px;
        height: 60px;
    }

    .adv{
        font-size: 40px;
        margin-left: 20px;
    }
    
    .contents{
        font-size: 24px;
        margin: 10px 25px;
    }
  }

  @media only screen and (max-width: 900px) {
    .detailed{
        width: 50px;
        height: 50px;
    }

    .adv{
        font-size: 36px;
        margin-left: 20px;
    }
    
    .contents{
        font-size: 22px;
        margin: 10px 25px;
    }
  }