*{
    font-family: Arial, Helvetica, sans-serif;
}


body{
    background: linear-gradient(#4E7547, #ffffff);
    height: 100vh;
    margin: 0;     /* remove dfalt margin of the body */
}

.container{
    margin:auto;
    width:80%;
}

.name{
    text-align: center;
    padding-top: 28px;
    padding-left: 47px;
    color: #ffffff;
    font-size: 100px;
    font-family: 'Koulen';
}

.searchbar {
    margin-top:100px;
    display: block;
    background: white;
    color: rgba(159, 159, 159, 0.63); 
    height: 80px;
    width: 800px;
    border-radius: 40px;
    border:#4E7547 4px solid;
    margin: 100px auto;
    text-decoration: none;
    font-weight: bold;
    line-height: 60px;
    cursor: default;
}

.search_input:focus{
    outline: none;
}

.search_input{
    background-color: transparent;
    position: relative;
    width:500px;
    top:10px;
    float: left;
    left: 70px;
    line-height: 60px;
    border: none;
    font-size: 30px;
}


.search_icon_leaf {
    float:left;
    position: relative;
    top:20px;
    left:20px;
    width: 35px;
    height: 35px;
}

.search_icon {
    float:right;
    position: relative;
    top:20px;
    right:20px;
    width: 35px;
    height: 35px;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}


.search_icon_img {
    width: 35px;
    height: 35px;
}

.IndividualAlternativeinfo {
    margin: auto;
    color: white;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.item {
    margin-bottom: 20px;
    color: black;
    font-size: 20px;
    background-color: white;
    border: 20px;
    border-radius: 20px;
    padding: 20px;
}

.instruction {
    text-align: center;
    font-size: 18px;
    position: fixed;
    color: blue;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px; 
}

/* Ingredient page */

.ingredient .searchbar{
    margin-top: 30px;
}
