*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
        background: linear-gradient(#4E7547, #ffffff);


        height: 100vh;
        margin: 0;     /* remove dfalt margin of the body */
        display: flex; 

}

.name{
    padding-top: 28px;
    padding-left: 47px;
    color: #ffffff;
    font-family: 'Koulen';
    font-size: 25px;
}



.search {
    display: flex;
    background: white;
    color: rgba(159, 159, 159, 0.63); 
    height: 80px;
    width: 800px;
    border-radius: 40px;
    margin: 20px auto;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    line-height: 60px;
    font-size: 20px;
    align-items: center;
}



.search_icon {
    width: 35px;
    height: 35px;
}
