*{
    font-family: Arial, Helvetica, sans-serif;
}

html { height: 100%; }

body{
    /* background: linear-gradient(#4E7547, #ffffff); */
    height: 100%; margin: 0; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.col1 {
    top:0;
    width:25%;
    height: 100%;;
    position: fixed;
    background-color: #2B9348;
    opacity: 0.5;
    z-index:-1;
}

.col2 {
    top:0;
    width:50%;
    height: 100%;;
    position: fixed;
    background-color: #55A630;
    opacity: 0.5;
    z-index:-2;
}

.col3 {
    top:0;
    width:75%;
    height: 100%;;
    position: fixed;
    background-color: #80B918;
    opacity: 0.5;
    z-index:-3;
}

.col4 {
    top:0;
    width:100%;
    height: 100%;;
    position: fixed;
    background-color: #E9C46A;
    opacity: 0.5;
    z-index:-4;
}


.container{
    margin:auto;
    width:80%;
}

.name{
    text-align: center;
    padding-top: 28px;
    /* padding-left: 47px; */
    color: #ffffff;
    font-size: 100px;
    font-family: 'Koulen';
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .name_icon {
    width: 100px;
    height: 100px;
    margin: 0 30px; 
  }
  

.searchbar {
    margin-top:100px;
    display: block;
    background: white;
    color: rgba(159, 159, 159, 0.63); 
    height: 80px;
    width: 800px;
    border-radius: 40px;
    border:#4E7547 4px solid;
    margin: 30px auto;
    text-decoration: none;
    font-weight: bold;
    line-height: 60px;
    cursor: default;
}

.search_input:focus{
    outline: none;
}

.search_input{
    background-color: transparent;
    position: relative;
    width:500px;
    top:10px;
    float: left;
    left: 70px;
    line-height: 60px;
    border: none;
    font-size: 30px;
}


.search_icon_leaf {
    float:left;
    position: relative;
    top:15px;
    left:20px;
    width: 50px;
    height: 50px;
}

.search_icon {
    float:right;
    position: relative;
    top:20px;
    right:25px;
    width: 35px;
    height: 35px;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}


.search_icon_img {
    width: 35px;
    height: 35px;
}

.IndividualAlternativeinfo {
    margin: auto;
    color: white;
    width: 70%;
    text-align: center;
    margin-top: 10px;
}

.item {
    margin: 40px 0;
    color: white;
    background-color: rgba(80, 115, 74, 0.85);
    border-radius: 30px;
    width:auto;
    height:220px;
}

.itemName{
    opacity: 1;
    position: relative;
    font-size: 28px;
    float: left;
    left: 50px;
    top:90px;
    font-weight: bold;
}

.itemCalories{
    padding:30px;
    border-radius: 20px;
    background: rgba(173, 193, 170, 0.8);
    position: relative;
    font-size: 24px;
    float: right;
    right: 50px;
    top:70px;
    font-weight: bold;
}

.instruction {
    text-align: center;
    font-size: 18px;
    position: relative;
    color: darkgreen;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px; 
}

.shortcuts{
    list-style-type: none;
    display: block;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.common_allergy{
    display: inline-block;
}

.foodlogo{
    width: 40px;
    height: 40px;
    color: #80B918;
    margin: 25px;
}


/* Ingredient page */

.ingredient .searchbar{
    margin-top: 30px;
    
}

.name_ing{
    padding-left: 47px;
    color: #ffffff;
    font-size: 40px;
    font-family: 'Koulen';
}



.logoInIngredient {
    text-decoration: none;
}

@media only screen and (max-width: 1200px) {
    .itemName{
        top: 95px;
        font-size: 26px;

    }
    
    .itemCalories{
        top:75px;
        padding:22px;
        font-size: 20px;
    }
  }

  @media only screen and (max-width: 1100px) {
    .itemName{
        top: 100px;
        font-size: 24px;
        left: 45px;

    }
    
    .itemCalories{
        right:45px;
        top:78px;
        padding:20px;
        font-size: 18px;
    }
  }

  @media only screen and (max-width: 1000px) {
    .searchbar {
        width: 80%;
        height: 60px;
    }

    .search_input {
        width: 60%;
        top:0px;
        font-size: 24px;
    }

    .search_icon_leaf {
        top: 7px;
    }

    .search_icon {
        top: 12px;
    }


    .itemName{
        top: 102px;
        font-size: 22px;
        left: 45px;

    }
    
    .itemCalories{
        right:45px;
        top:80px;
        padding:20px;
        font-size: 16px;
    }
  }

  @media only screen and (max-width: 900px) {
    .IndividualAlternativeinfo {
        width: 70%;
    }
    
    .item {
        width:auto;
        height:220px;
        text-align: center;
    }

    .itemName{
        left:50%;
        top:35%;
        transform: translate(-50%,-65%);
    }
    
    .itemCalories{
        right: 50%;
        top:65%;
        transform: translate(50%,-35%);
    }
  }

  .itemsHeader {
    font-size: 30px;
  }

.logoInDetail {
    text-decoration: none;
}
